body {
    margin: 0px;
}
.custom-navbar {
    background-color: #43A047;
}
.content{
    display:flex;
    min-height:100vh
}
.slidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
}

    .slidebar a {
        color: white;
        padding: 15px;
        text-decoration: none;
        display: block;
    }

.slidebar a:hover {
    background-color: #495057;
}

.main-content {
    width: 90%;
    height: auto;
    background-color: white;
}

/*.txtSearch {
    float:right;
    margin-right:50px;
    margin-top:8px;
}

.txtsearch {
    width: 200px;
    border-radius: 7px;
    text-align:center;
    height:37px;
}*/


.fm-link-menu a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}


.item {
    padding-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}


.fm-link {
    margin-left: 37px;
    text-decoration: none;
    color: seagreen;
    font-weight: bold;
}
.btn-link {
    text-decoration: none;
}
.form-group{
    margin-left:8%;
}
.btn-back{
    margin-left:8%;
    text-decoration:none;
}

.log-out {
    display: inline-flex;
    align-items: center;
    background-color: #424242;
    margin-right: 60px;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .log-out i {
        margin-right: 5px;
    }

    .log-out:hover {
        background-color: #34c9eb;
        color: #ffffff;
        text-decoration:none
    }


