body {
    margin: 0;
}

.custom-navbar {
    background-color: #43A047;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.content {
    display: flex;
}

.slidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    position: fixed;
    height: 84.4vh;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    height: 84.4vh;
    background-color: white;
    overflow-y: auto;
    max-width: 1300px;
    width: calc(100% - 200px);
}



    .slidebar a {
        color: white;
        padding: 15px;
        text-decoration: none;
        display: block;
    }

        .slidebar a:hover {
            background-color: #495057;
        }


.fm-link-menu a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.item {
    padding-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.fm-link {
    margin-left: 37px;
    text-decoration: none;
    color: seagreen;
    font-weight: bold;
}

.btn-link {
    text-decoration: none;
}

.form-group {
    margin-left: 8%;
}

.btn-back {
    margin-left: 8%;
    text-decoration: none;
}

.log-out {
    display: inline-flex;
    align-items: center;
    background-color: #424242;
    margin-right: 60px;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .log-out i {
        margin-right: 5px;
    }

    .log-out:hover {
        background-color: #34c9eb;
        color: #ffffff;
        text-decoration: none;
    }
