
@{
    ViewBag.Title = "Lich";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/css/User/CSSLich.css" rel="stylesheet" />
}

<div class="calendar-container">
    <div class="calendar-header">
        <div class="month-selector">
            <span class="month-name">Tháng 10 2024</span>
        </div>
        <div class="view-selector">
            <button class="prev-btn">❮</button>
            <button class="today-btn">Hôm nay</button>
            <button class="next-btn">❯</button>
            <button class="week-view-btn">Tuần</button>
            <button class="month-view-btn">Tháng</button>
        </div>
    </div>

    <div class="calendar">
        <div class="weekdays">
            <div>Th 2</div>
            <div>Th 3</div>
            <div>Th 4</div>
            <div>Th 5</div>
            <div>Th 6</div>
            <div>Th 7</div>
            <div>CN</div>
        </div>
        <div class="days">

        </div>
    </div>
</div>
<script src="~/Content/JS/JSLich.js"></script>