body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-navbar {
    background-color: #43A047;
}

#login {
    cursor: pointer;
    color: white;
    margin-right: 15px;
}

.fm-link-menu a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}


#div-left {
    margin-bottom: 20px;
    padding-left: 100px; 
}

.main-content {
    background-color: #E3F7F3;
    min-height: 100vh;
}

.content {
    margin-top: 90px;
}

#content1 {
    font-style: normal;
    font-size: 60px;
    line-height: 1.25;
    margin-right: 20px;
}

#content2 {
    font-style: initial;
    font-size: 20px;
    line-height: 1.25;
}

#content4 {
    font-style: normal;
    font-size: 25px;
}

#content5 {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

#div-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

#sign-up {
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    margin-left:90px;
    width: 200px;
    height: 47px;
    background-color: greenyellow;
}
